:root {
    --version: "v2.3.0";
    --skin: " Pastel-Sakura";
    --author: " slopn";
    --fonts-primary: Quicksand;
    --fonts-secondary: Quicksand;
    --fonts-tertiary: Fira Code;
    --font-display: Quicksand !important;
    --wallpaper: url("none");
    --channel-width: 260px;
    --members-width: 240px;
    --profile-width: 320px;
    --text-align: justify;
    --radius-avatar: 90px;
    --radius-button: 90px;
    --radius-mention: 90px;
    --radius-reaction: 90px;
    --radius-primary: 24px;
    --radius-secondary: 12px;
    --radius-tertiary: 6px;
    --border-width: 0.0px;
    --border-opacity: 0.0;
    --blur: 0.0px;
    --blur-wallpaper: 0.0px;
    --blur-titlebar: 0.0px;
    --blur-backdrop: 1.0px;
    --transparency-menu: 1.0;
    --transparency-titlebar: 1.0;
    --transparency-backdrop: 0.8;
    --transparency-background: 1.0;
    --transparency-primary: 1.0;
    --transparency-secondary: 1.0;
    --transparency-tertiary: 1.0;
    --transparency-hover: 0.4;
    --transparency-active: 0.6;
    --transparency-selected: 0.8;
    --selection-opacity: 0.80;
    --shadow-opacity: 0.0;
    --shadow-popout-opacity: 0.4;
    --glasscord-win-blur: blurbehind;
    --glasscord-macos-vibrancy: fullscreen-ui;
    --glasscord-linux-blur: true;
    --glasscord-titlebar: windows;
}
.theme-dark {
    --accent-primary: rgb(255, 100, 219);
    --accent-secondary: rgb(235, 82, 199);
    --accent-tertiary: rgb(201, 52, 166);
    --green-primary: rgba(67, 181, 129);
    --green-secondary: rgba(97, 208, 154);
    --green-tertiary: rgba(32, 153, 103);
    --yellow-primary: rgba(250, 166, 26);
    --yellow-secondary: rgba(255, 194, 61);
    --yellow-tertiary: rgba(220, 140, 0);
    --red-primary: rgba(240, 71, 71);
    --red-secondary: rgba(255, 102, 96);
    --red-tertiary: rgba(209, 39, 49);
    --purple-primary: rgb(149, 54, 109);
    --purple-secondary: rgb(177, 79, 144);
    --purple-tertiary: rgb(255, 109, 206);
    --background-primary: rgba(255, 199, 242, var(--transparency-primary));
    --background-secondary: rgba(66, 38, 72, var(--transparency-secondary));
    --background-tertiary: rgba(57, 29, 63, var(--transparency-tertiary));
    --background-secondary-alt: rgba(57, 29, 63, var(--transparency-tertiary));
    --background-accent: rgb(255, 60, 180);
    --background-floating: rgba(57, 29, 63, var(--transparency-menu));
    --background-mobile-primary: rgba(255, 199, 242);
    --background-mobile-secondary: rgb(255, 100, 185);
    --background-modifier-hover: rgb(255, 103, 220);
    --background-modifier-active: rgb(241, 26, 191);
    --background-modifier-selected: rgb(219, 1, 168);
    --background-modifier-accent: rgb(175, 17, 146);
    --background-mentioned: rgba(255, 0, 195, 0.1);
    --background-mentioned-hover: rgba(255, 0, 195, 0.2);
    --background-message-hover: rgba(255, 0, 204, 0.4);
    --background-help-warning: rgb(255, 113, 222);
    --background-help-info: rgb(255, 92, 217);
    --toast-background: rgba(66, 38, 72, var(--transparency-secondary));
    --toast-header: rgba(255, 199, 242, var(--transparency-primary));
    --toast-contents: rgba(57, 29, 63, var(--transparency-tertiary));
    --toast-border: var(--background-secondary);
    --toast-box-shadow: rgba(0, 0, 0, 0.400);
    --header-primary: rgba(255, 255, 255);
    --header-secondary: rgba(167, 133, 173);
    --text-normal: rgba(194, 160, 200);
    --text-muted: rgba(140, 108, 146);
    --text-link: rgb(243, 154, 222);
    --channels-default: rgba(167, 133, 173);
    --interactive-normal: rgba(194, 160, 200);
    --interactive-hover: rgba(255, 255, 255);
    --interactive-active: rgba(255, 255, 255);
    --interactive-muted: rgba(140, 108, 146);
    --spotify-color: rgba(243, 154, 222);
    --scrollbar-thin-thumb: rgba(255, 199, 242);
    --scrollbar-thin-track: rgba(57, 29, 63);
    --scrollbar-auto-thumb: rgba(255, 199, 242);
    --scrollbar-auto-track: rgba(57, 29, 63);
    --scrollbar-auto-scrollbar-color-thumb: rgba(255, 199, 242);
    --scrollbar-auto-scrollbar-color-track: rgba(255, 199, 242);
    --deprecated-card-bg: var(--background-tertiary);
    --deprecated-card-editable-bg: var(--background-secondary);
    --deprecated-store-bg: var(--background-secondary);
    --deprecated-quickswitcher-input-background: var(--background-tertiary);
    --deprecated-quickswitcher-input-placeholder: var(--text-normal);
    --deprecated-text-input-bg: var(--background-tertiary);
    --elevation-stroke: none;
    --elevation-low: none;
    --elevation-medium: none;
    --elevation-high: none;
    --logo-primary: var(--accent-primary);
    --focus-primary: var(--accent-primary);
    --radio-group-dot-foreground: var(--accent-primary);
    --channeltextarea-background: rgba(255, 255, 255);
    --activity-card-background: var(--background-secondary);
    --textbox-markdown-syntax: rgba(255, 255, 255);
    --selection-text: rgba(255, 255, 255);
    --selection-background: rgba(99, 14, 84, var(--selection-opacity));
    --titlebar: rgba(57, 29, 63, var(--transparency-titlebar));
    --background: rgba(255, 199, 242, var(--transparency-background));
    --shadows: 0px 2px 8px 2px rgba(0, 0, 0, var(--shadow-opacity));
    --shadows-popout: 0px 2px 8px 2px rgba(0, 0, 0, var(--shadow-popout-opacity));
    --backdrop: rgba(0, 0, 0, var(--transparency-backdrop));
    --highlight-hover: rgba(57, 29, 63, var(--transparency-hover));
    --highlight-active: rgba(57, 29, 63, var(--transparency-active));
    --highlight-selected: rgba(57, 29, 63, var(--transparency-selected));
    --accent-active: rgba(128, 0, 98, var(--transparency-hover));
    --accent-hover: rgba(153, 0, 117, var(--transparency-active));
    --accent-selected: rgba(102, 0, 78, var(--transparency-selected));
    --normal-primary: rgba(255, 199, 242);
    --normal-secondary: rgb(255, 0, 200);
    --normal-tertiary: rgb(255, 0, 140);
    --border: var(--border-width) solid rgba(255, 255, 255, var(--border-opacity));
    --linkpreview-background: transparent;
    --linkpreview-color: #FFFFFF;
    --linkpreview-border: none;
    --stream-active: rgba(89, 54, 149, var(--transparency-hover));
    --stream-hover: rgba(116, 79, 177, var(--transparency-hover));
    --stream-selected: rgba(62, 32, 124, var(--transparency-hover));
    --accent-text-primary: rgba(255, 255, 255);
    --accent-text-secondary: rgba(255, 255, 255);
}
/* .theme-light {
    --accent-primary: rgb(255, 143, 229);
    --accent-secondary: rgb(214, 91, 185);
    --accent-tertiary: rgb(206, 79, 176);
    --green-primary: rgba(67, 181, 129);
    --green-secondary: rgba(97, 208, 154);
    --green-tertiary: rgba(32, 153, 103);
    --yellow-primary: rgba(250, 166, 26);
    --yellow-secondary: rgba(255, 194, 61);
    --yellow-tertiary: rgba(220, 140, 0);
    --red-primary: rgba(240, 71, 71);
    --red-secondary: rgba(255, 102, 96);
    --red-tertiary: rgba(209, 39, 49);
    --background-primary: rgba(247, 250, 255, var(--transparency-primary));
    --background-secondary: rgba(235, 239, 247, var(--transparency-secondary));
    --background-tertiary: rgba(223, 229, 240, var(--transparency-tertiary));
    --background-secondary-alt: rgba(223, 229, 240, var(--transparency-tertiary));
    --background-accent: rgb(214, 91, 185);;
    --background-floating: rgba(223, 229, 240, var(--transparency-menu));
    --background-mobile-primary: rgba(247, 250, 255);
    --background-mobile-secondary: rgba(235, 239, 247);
    --background-modifier-hover: rgba(153, 0, 117);
    --background-modifier-active: rgba(128, 0, 98);
    --background-modifier-selected: rgba(128, 0, 98);
    --background-modifier-accent: rgba(247, 250, 255);
    --background-mentioned: rgba(128, 0, 98, 0.1);
    --background-mentioned-hover: rgba(128, 0, 98, 0.2);
    --background-message-hover: rgba(223, 229, 240, 0.4);
    --background-help-warning: rgba(128, 0, 98);
    --background-help-info: rgba(153, 0, 117);
    --toast-background: rgba(235, 239, 247, var(--transparency-secondary));
    --toast-header: rgba(247, 250, 255, var(--transparency-primary));
    --toast-contents: rgba(223, 229, 240, var(--transparency-tertiary));
    --toast-border: var(--background-secondary);
    --toast-box-shadow: rgba(0, 0, 0, 0.400);
    --header-primary: rgba(0, 0, 0);
    --header-secondary: rgba(48, 52, 58);
    --text-normal: rgba(83, 91, 102);
    --text-muted: rgba(83, 91, 102);
    --text-link: rgba(128, 0, 98);
    --channels-default: rgba(48, 52, 58);
    --interactive-normal: rgba(83, 91, 102);
    --interactive-hover: rgba(0, 0, 0);
    --interactive-active: rgba(0, 0, 0);
    --interactive-muted: rgba(83, 91, 102);
    --spotify-color: rgba(128, 0, 98);
    --scrollbar-thin-thumb: rgba(247, 250, 255);
    --scrollbar-thin-track: rgba(223, 229, 240);
    --scrollbar-auto-thumb: rgba(247, 250, 255);
    --scrollbar-auto-track: rgba(223, 229, 240);
    --scrollbar-auto-scrollbar-color-thumb: rgba(247, 250, 255);
    --scrollbar-auto-scrollbar-color-track: rgba(247, 250, 255);
    --deprecated-card-bg: var(--background-tertiary);
    --deprecated-card-editable-bg: var(--background-secondary);
    --deprecated-store-bg: var(--background-secondary);
    --deprecated-quickswitcher-input-background: var(--background-tertiary);
    --deprecated-quickswitcher-input-placeholder: var(--text-normal);
    --deprecated-text-input-bg: var(--background-tertiary);
    --elevation-stroke: none;
    --elevation-low: none;
    --elevation-medium: none;
    --elevation-high: none;
    --logo-primary: var(--accent-primary);
    --focus-primary: var(--accent-primary);
    --radio-group-dot-foreground: var(--accent-primary);
    --channeltextarea-background: rgba(0, 0, 0);
    --activity-card-background: var(--background-secondary);
    --textbox-markdown-syntax: rgba(0, 0, 0);
    --selection-text: rgba(255, 255, 255);
    --selection-background: rgba(99, 14, 84, var(--selection-opacity));
    --titlebar: rgba(223, 229, 240, var(--transparency-titlebar));
    --background: rgba(247, 250, 255, var(--transparency-background));
    --shadows: 0px 2px 8px 2px rgba(0, 0, 0, var(--shadow-opacity));
    --shadows-popout: 0px 2px 8px 2px rgba(0, 0, 0, var(--shadow-popout-opacity));
    --backdrop: rgba(255, 255, 255, var(--transparency-backdrop));
    --highlight-hover: rgba(223, 229, 240, var(--transparency-hover));
    --highlight-active: rgba(223, 229, 240, var(--transparency-active));
    --highlight-selected: rgba(223, 229, 240, var(--transparency-selected));
    --accent-active: rgba(128, 0, 98, var(--transparency-hover));
    --accent-hover: rgba(153, 0, 117, var(--transparency-active));
    --accent-selected: rgba(102, 0, 78, var(--transparency-selected));
    --normal-primary: rgba(247, 250, 255);
    --normal-secondary: rgba(235, 239, 247);
    --normal-tertiary: rgba(223, 229, 240);
    --border: var(--border-width) solid rgba(255, 255, 255, var(--border-opacity));
    --linkpreview-background: transparent;
    --linkpreview-color: #000000;
    --linkpreview-border: transparent;
    --stream-active: rgba(89, 54, 149, var(--transparency-hover));
    --stream-hover: rgba(116, 79, 177, var(--transparency-hover));
    --stream-selected: rgba(62, 32, 124, var(--transparency-hover));
    --accent-text-primary: rgba(255, 255, 255);
    --accent-text-secondary: rgba(0, 0, 0);
} */